<% provide(:title, "Histórico de Campeonatos de España") %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_competitions", current_page: :sc, title: "Histórico de Campeonatos de España" do %>

  <h3 id="Edición-2019">Edición de 2019</h3>
  <p>La edición de 2019 del Campeonato de España de Speedcubing se celebró en Albacete, los días 11, 12 y 13 de octubre. Tuvo un total de 112 competidores y 18 categorías.</p>
 
  <div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>Biel Salmons González</td> </tr>
      <tr> <td>2x2x2</td> <td>Marcos Aparicio Caro</td> </tr>
      <tr> <td>4x4x4</td> <td>Eder Olivencia González</td> </tr>
      <tr> <td>5x5x5</td> <td>Marcos Aparicio Caro</td> </tr>
      <tr> <td>6x6x6</td> <td>Carlos Tapp</td> </tr>
      <tr> <td>7x7x7</td> <td>Carlos Tapp</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>José Antonio Navarro Sánchez</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>Carlos Méndez García-Barroso</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>Marcos Aparicio Caro</td> </tr>
      <tr> <td>Clock</td> <td>Jaime Calzado Gómez</td> </tr>
      <tr> <td>Megaminx</td> <td>Eder Olivencia González</td> </tr>
      <tr> <td>Pyraminx</td> <td>Héctor Haro Guerrero</td> </tr>
      <tr> <td>Skewb</td> <td>Carlos Méndez García-Barroso</td> </tr>
      <tr> <td>Square-1</td> <td>Javier López Fernández</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>José Antonio Navarro Sánchez</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>José Antonio Navarro Sánchez</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>José Antonio Navarro Sánchez</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>Julen Simón Iriarte</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2018">Edición de 2018</h3>
  <p>La edición de 2018 del Campeonato de España de Speedcubing se celebró en Pamplona, los días 12, 13 y 14 de octubre. Tuvo un total de 141 competidores y 18 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>Carlos Méndez García-Barroso</td> </tr>
      <tr> <td>2x2x2</td> <td>Julen Simón Iriarte</td> </tr>
      <tr> <td>4x4x4</td> <td>Eder Olivencia González</td> </tr>
      <tr> <td>5x5x5</td> <td>Eder Olivencia González</td> </tr>
      <tr> <td>6x6x6</td> <td>Carlos Tapp</td> </tr>
      <tr> <td>7x7x7</td> <td>Antonio López</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>Berta García Parra</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>Alexander Olleta del Molino</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>Carlos Méndez García-Barroso</td> </tr>
      <tr> <td>Clock</td> <td>Raúl Serrano Martínez</td> </tr>
      <tr> <td>Megaminx</td> <td>Jorge Marín Segovia</td> </tr>
      <tr> <td>Pyraminx</td> <td>Manuel Prieto de Antón</td> </tr>
      <tr> <td>Skewb</td> <td>Manuel Prieto de Antón</td> </tr>
      <tr> <td>Square-1</td> <td>Daniel Gracia Ortiz</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>José Antonio Navarro Sánchez</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>José Antonio Navarro Sánchez</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>Berta García Parra</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>José Antonio Navarro Sánchez</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2017">Edición de 2017</h3>
  <p>La edición de 2017 del Campeonato de España de Speedcubing se celebró en Valencia, los días 13, 14 y 15 de octubre. Tuvo un total de 209 competidores y 18 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>Carlos Méndez García-Barroso</td> </tr>
      <tr> <td>2x2x2</td> <td>Carlos Méndez García-Barroso</td> </tr>
      <tr> <td>4x4x4</td> <td>Darío Roa Sánchez</td> </tr>
      <tr> <td>5x5x5</td> <td>Antonio López</td> </tr>
      <tr> <td>6x6x6</td> <td>Antonio López</td> </tr>
      <tr> <td>7x7x7</td> <td>Antonio López</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>Berta García Parra</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>Eki González García</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>Darío Roa Sánchez</td> </tr>
      <tr> <td>Clock</td> <td>Ernersto Fernández Regueira</td> </tr>
      <tr> <td>Megaminx</td> <td>Manuel Prieto de Antón</td> </tr>
      <tr> <td>Pyraminx</td> <td>José María García Carrión</td> </tr>
      <tr> <td>Skewb</td> <td>Julio Perugorria Lorente</td> </tr>
      <tr> <td>Square-1</td> <td>Daniel Gracia Ortiz</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>Berta García Parra</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>Javier Hernández Requena</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>Berta García Parra</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>José Antonio Navarro Sánchez</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2016">Edición de 2016</h3>
  <p>La edición de 2016 del Campeonato de España de Speedcubing se celebró en Sevilla, los días 7, 8 y 9 de octubre. Tuvo un total de 122 competidores y 17 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>Darío Roa Sánchez</td> </tr>
      <tr> <td>2x2x2</td> <td>Carlos Méndez García-Barroso</td> </tr>
      <tr> <td>4x4x4</td> <td>Darío Roa Sánchez</td> </tr>
      <tr> <td>5x5x5</td> <td>Darío Roa Sánchez</td> </tr>
      <tr> <td>6x6x6</td> <td>Carlos Tapp</td> </tr>
      <tr> <td>7x7x7</td> <td>Carlos Tapp</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>Berta García Parra</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>Alexander Olleta del Molino</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>Darío Roa Sánchez</td> </tr>
      <tr> <td>Clock</td> <td>Ernesto Fernández Regueira</td> </tr>
      <tr> <td>Megaminx</td> <td>Antonio López</td> </tr>
      <tr> <td>Pyraminx</td> <td>Gonzalo Orellana Barrasa</td> </tr>
      <tr> <td>Skewb</td> <td>Manuel Prieto de Antón</td> </tr>
      <tr> <td>Square-1</td> <td>Daniel Gracia Ortiz</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>Rodrigo Pueblas Núñez</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>Berta García Parra</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>Alberto Pérez de Rada Fiol</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2015">Edición de 2015</h3>
  <p>La edición de 2015 del Campeonato de España de Speedcubing se celebró en Granada, los días 9, 10 y 11 de octubre. Tuvo un total de 108 competidores y 18 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>25</td> </tr>
      <tr> <td>2x2x2</td> <td>18</td> </tr>
      <tr> <td>4x4x4</td> <td>15</td> </tr>
      <tr> <td>5x5x5</td> <td>12</td> </tr>
      <tr> <td>6x6x6</td> <td>10</td> </tr>
      <tr> <td>7x7x7</td> <td>8</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>6</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>5</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>4</td> </tr>
      <tr> <td>Clock</td> <td>3</td> </tr>
      <tr> <td>Megaminx</td> <td>2</td> </tr>
      <tr> <td>Pyraminx</td> <td>1</td> </tr>
      <tr> <td>Skewb</td> <td>1</td> </tr>
      <tr> <td>Square-1</td> <td>1</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>1</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>1</td> </tr>
      <tr> <td>Magic</td> <td>1</td> </tr>
      <tr> <td>Master Magic</td> <td>1</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2014">Edición de 2014</h3>
  <p>La edición de 2014 del Campeonato de España de Speedcubing se celebró en Madrid, los días 26, 27 y 28 de septiembre. Tuvo un total de 151 competidores y 18 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>25</td> </tr>
      <tr> <td>2x2x2</td> <td>18</td> </tr>
      <tr> <td>4x4x4</td> <td>15</td> </tr>
      <tr> <td>5x5x5</td> <td>12</td> </tr>
      <tr> <td>6x6x6</td> <td>10</td> </tr>
      <tr> <td>7x7x7</td> <td>8</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>6</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>5</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>4</td> </tr>
      <tr> <td>Clock</td> <td>3</td> </tr>
      <tr> <td>Megaminx</td> <td>2</td> </tr>
      <tr> <td>Pyraminx</td> <td>1</td> </tr>
      <tr> <td>Skewb</td> <td>1</td> </tr>
      <tr> <td>Square-1</td> <td>1</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>1</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>1</td> </tr>
      <tr> <td>Magic</td> <td>1</td> </tr>
      <tr> <td>Master Magic</td> <td>1</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2013">Edición de 2013</h3>
  <p>La edición de 2013 del Campeonato de España de Speedcubing se celebró en Madrid, los días 11, 12 y 14 de octubre. Tuvo un total de 109 competidores y 17 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>25</td> </tr>
      <tr> <td>2x2x2</td> <td>18</td> </tr>
      <tr> <td>4x4x4</td> <td>15</td> </tr>
      <tr> <td>5x5x5</td> <td>12</td> </tr>
      <tr> <td>6x6x6</td> <td>10</td> </tr>
      <tr> <td>7x7x7</td> <td>8</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>6</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>5</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>4</td> </tr>
      <tr> <td>Clock</td> <td>3</td> </tr>
      <tr> <td>Megaminx</td> <td>2</td> </tr>
      <tr> <td>Pyraminx</td> <td>1</td> </tr>
      <tr> <td>Skewb</td> <td>1</td> </tr>
      <tr> <td>Square-1</td> <td>1</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>1</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>1</td> </tr>
      <tr> <td>Magic</td> <td>1</td> </tr>
      <tr> <td>Master Magic</td> <td>1</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2012">Edición de 2012</h3>
  <p>La edición de 2012 del Campeonato de España de Speedcubing se celebró en Granada, los días 14, 15 y 16 de diciembre. Tuvo un total de 51 competidores y 16 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>25</td> </tr>
      <tr> <td>2x2x2</td> <td>18</td> </tr>
      <tr> <td>4x4x4</td> <td>15</td> </tr>
      <tr> <td>5x5x5</td> <td>12</td> </tr>
      <tr> <td>6x6x6</td> <td>10</td> </tr>
      <tr> <td>7x7x7</td> <td>8</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>6</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>5</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>4</td> </tr>
      <tr> <td>Clock</td> <td>3</td> </tr>
      <tr> <td>Megaminx</td> <td>2</td> </tr>
      <tr> <td>Pyraminx</td> <td>1</td> </tr>
      <tr> <td>Skewb</td> <td>1</td> </tr>
      <tr> <td>Square-1</td> <td>1</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>1</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>1</td> </tr>
      <tr> <td>Magic</td> <td>1</td> </tr>
      <tr> <td>Master Magic</td> <td>1</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2011">Edición de 2011</h3>
  <p>La edición de 2011 del Campeonato de España de Speedcubing se celebró en Valencia, los días 16, 17 y 18 de diciembre. Tuvo un total de 93 competidores y 16 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>25</td> </tr>
      <tr> <td>2x2x2</td> <td>18</td> </tr>
      <tr> <td>4x4x4</td> <td>15</td> </tr>
      <tr> <td>5x5x5</td> <td>12</td> </tr>
      <tr> <td>6x6x6</td> <td>10</td> </tr>
      <tr> <td>7x7x7</td> <td>8</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>6</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>5</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>4</td> </tr>
      <tr> <td>Clock</td> <td>3</td> </tr>
      <tr> <td>Megaminx</td> <td>2</td> </tr>
      <tr> <td>Pyraminx</td> <td>1</td> </tr>
      <tr> <td>Skewb</td> <td>1</td> </tr>
      <tr> <td>Square-1</td> <td>1</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>1</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>1</td> </tr>
      <tr> <td>Magic</td> <td>1</td> </tr>
      <tr> <td>Master Magic</td> <td>1</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2010">Edición de 2010</h3>
  <p>La edición de 2010 del Campeonato de España de Speedcubing se celebró en Madrid, los días 17, 18 y 19 de diciembre. Tuvo un total de 68 competidores y 13 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>25</td> </tr>
      <tr> <td>2x2x2</td> <td>18</td> </tr>
      <tr> <td>4x4x4</td> <td>15</td> </tr>
      <tr> <td>5x5x5</td> <td>12</td> </tr>
      <tr> <td>6x6x6</td> <td>10</td> </tr>
      <tr> <td>7x7x7</td> <td>8</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>6</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>5</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>4</td> </tr>
      <tr> <td>Clock</td> <td>3</td> </tr>
      <tr> <td>Megaminx</td> <td>2</td> </tr>
      <tr> <td>Pyraminx</td> <td>1</td> </tr>
      <tr> <td>Skewb</td> <td>1</td> </tr>
      <tr> <td>Square-1</td> <td>1</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>1</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>1</td> </tr>
      <tr> <td>Magic</td> <td>1</td> </tr>
      <tr> <td>Master Magic</td> <td>1</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2009">Edición de 2009</h3>
  <p>La edición de 2009 del Campeonato de España de Speedcubing se celebró en San Martín de la Vega, los días 5 y 6 de diciembre. Tuvo un total de 158 competidores y 13 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>25</td> </tr>
      <tr> <td>2x2x2</td> <td>18</td> </tr>
      <tr> <td>4x4x4</td> <td>15</td> </tr>
      <tr> <td>5x5x5</td> <td>12</td> </tr>
      <tr> <td>6x6x6</td> <td>10</td> </tr>
      <tr> <td>7x7x7</td> <td>8</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>6</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>5</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>4</td> </tr>
      <tr> <td>Clock</td> <td>3</td> </tr>
      <tr> <td>Megaminx</td> <td>2</td> </tr>
      <tr> <td>Pyraminx</td> <td>1</td> </tr>
      <tr> <td>Skewb</td> <td>1</td> </tr>
      <tr> <td>Square-1</td> <td>1</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>1</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>1</td> </tr>
      <tr> <td>Magic</td> <td>1</td> </tr>
      <tr> <td>Master Magic</td> <td>1</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2008">Edición de 2008</h3>
  <p>La edición de 2008 del Campeonato de España de Speedcubing se celebró en La Coruña, los días 19 y 20 de diciembre. Tuvo un total de 53 competidores y 14 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>25</td> </tr>
      <tr> <td>2x2x2</td> <td>18</td> </tr>
      <tr> <td>4x4x4</td> <td>15</td> </tr>
      <tr> <td>5x5x5</td> <td>12</td> </tr>
      <tr> <td>6x6x6</td> <td>10</td> </tr>
      <tr> <td>7x7x7</td> <td>8</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>6</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>5</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>4</td> </tr>
      <tr> <td>Clock</td> <td>3</td> </tr>
      <tr> <td>Megaminx</td> <td>2</td> </tr>
      <tr> <td>Pyraminx</td> <td>1</td> </tr>
      <tr> <td>Skewb</td> <td>1</td> </tr>
      <tr> <td>Square-1</td> <td>1</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>1</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>1</td> </tr>
      <tr> <td>Magic</td> <td>1</td> </tr>
      <tr> <td>Master Magic</td> <td>1</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2007">Edición de 2007</h3>
  <p>La edición de 2007 del Campeonato de España de Speedcubing se celebró en Barcelona, el día 24 de noviembre. Tuvo un total de 50 competidores y 9 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>25</td> </tr>
      <tr> <td>2x2x2</td> <td>18</td> </tr>
      <tr> <td>4x4x4</td> <td>15</td> </tr>
      <tr> <td>5x5x5</td> <td>12</td> </tr>
      <tr> <td>6x6x6</td> <td>10</td> </tr>
      <tr> <td>7x7x7</td> <td>8</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>6</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>5</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>4</td> </tr>
      <tr> <td>Clock</td> <td>3</td> </tr>
      <tr> <td>Megaminx</td> <td>2</td> </tr>
      <tr> <td>Pyraminx</td> <td>1</td> </tr>
      <tr> <td>Skewb</td> <td>1</td> </tr>
      <tr> <td>Square-1</td> <td>1</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>1</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>1</td> </tr>
      <tr> <td>Magic</td> <td>1</td> </tr>
      <tr> <td>Master Magic</td> <td>1</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2006">Edición de 2006</h3>
  <p>La edición de 2006 del Campeonato de España de Speedcubing se celebró en Bilbao, el día 9 de diciembre. Tuvo un total de 20 competidores y 6 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>25</td> </tr>
      <tr> <td>2x2x2</td> <td>18</td> </tr>
      <tr> <td>4x4x4</td> <td>15</td> </tr>
      <tr> <td>5x5x5</td> <td>12</td> </tr>
      <tr> <td>6x6x6</td> <td>10</td> </tr>
      <tr> <td>7x7x7</td> <td>8</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>6</td> </tr>
      <tr> <td>3x3x3 Fewest Moves</td> <td>5</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>4</td> </tr>
      <tr> <td>Clock</td> <td>3</td> </tr>
      <tr> <td>Megaminx</td> <td>2</td> </tr>
      <tr> <td>Pyraminx</td> <td>1</td> </tr>
      <tr> <td>Skewb</td> <td>1</td> </tr>
      <tr> <td>Square-1</td> <td>1</td> </tr>
      <tr> <td>4x4x4 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>5x5x5 Blindfolded</td> <td>1</td> </tr>
      <tr> <td>3x3x3 Multi-Blind</td> <td>1</td> </tr>
      <tr> <td>3x3x3 With Feet</td> <td>1</td> </tr>
      <tr> <td>Magic</td> <td>1</td> </tr>
      <tr> <td>Master Magic</td> <td>1</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2005">Edición de 2005</h3>
  <p>La edición de 2005 del Campeonato de España de Speedcubing se celebró en Valencia, el día 3 de diciembre. Tuvo un total de 20 competidores y 5 categorías.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>Ernesto Fernández Regueira</td> </tr>
      <tr> <td>2x2x2</td> <td>Javier París</td> </tr>
      <tr> <td>4x4x4</td> <td>David Calvo Vivas</td> </tr>
      <tr> <td>3x3x3 Blindfolded</td> <td>Carlos Angosto Hernández</td> </tr>
      <tr> <td>3x3 One-Handed</td> <td>David Calvo Vivas</td> </tr>
    <% end %>
  </div>

  <h3 id="Edición-2004">Edición de 2004</h3>
  <p>La edición de 2004 del Campeonato de España de Speedcubing se celebró en Madrid, el día 13 de noviembre. Tuvo un total de 20 competidores y 1 categoría.</p>

<div id="historical-podiums" class="table table-responsive">
    <% headers = ["Categoría", "Ganador"] %>
    <%= render "shared/compact_table", headers: headers do %>
      <tr> <td>3x3x3</td> <td>Ernesto Fernández Regueira</td> </tr>
    <% end %>
  </div>

<% end %>
